// NOTE TO SEL: for portfolio page use filtering
// data-filter="" see How To Filter Elements - W3Schools

//da gestire menu a scomparsa mobile con js

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300;400;500;600;700&display=swap');

.sr-only{
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
  html, body {
    font-family: 'Poppins', sans-serif;
    color: #292F36;
  }
  #navbar {
    position: fixed;
    top:0;
    left:0;
    height: 70px;
    width: 100%;
  }
  #navbar a{
    display: block;
    color: rgb(240, 239, 244);
    border-radius: 5px;
    padding: 10px;
    margin: 10px 5px 10px 5px;
    text-decoration: none;
  }
  #navbar a:hover{
    background-color: rgba(255, 255, 255, 0.068);
  }
  #nav-links {
    display: grid;
    grid-template-columns: repeat(5,1fr);
    text-align: center;
      // background-color: rgb(73, 65, 109);
      background: rgb(218,65,103);
      background: -moz-linear-gradient(90deg, rgba(218,65,103,1) 20%, rgba(250,188,42,1) 50%, rgba(5,178,220,1) 80%);
      background: -webkit-linear-gradient(90deg, rgba(218,65,103,1) 20%, rgba(250,188,42,1) 50%, rgba(5,178,220,1) 80%);
      background: linear-gradient(90deg, rgba(218,65,103,1) 20%, rgba(250,188,42,1) 50%, rgba(5,178,220,1) 80%);
  }
  #info-link{
    grid-area: 1/2/2/3;
  }
  #projects-link{
    grid-area: 1/3/2/4;
  }
  #contacts-link{
    grid-area: 1/4/2/5;
  }
  #welcome-section {
    margin-top: 80px
  }
  @media only screen and (max-width:768px){
    #nav-links {
      display: grid;
      grid-template-columns: repeat(3,1fr);
  }
    #info-link{
      grid-area: 1/1/2/2;
    }
    #projects-link{
      grid-area: 1/2/2/3;
    }
    #contacts-link{
      grid-area: 1/3/2/4;
    }
  }